<settings>
    <servers>
        <server>
            <id>org.lichtspiele.nexus.release</id>
            <username>${NEXUS_DEPLOY_USER}</username>
            <password>${NEXUS_DEPLOY_PASSWORD}</password>
        </server>
        <server>
            <id>org.lichtspiele.nexus.snapshot</id>
            <username>${NEXUS_DEPLOY_USER}</username>
            <password>${NEXUS_DEPLOY_PASSWORD}</password>
        </server>
    </servers>
</settings>